bin
cli/java/doc
cli/java/build
cli/raw/*.xml
res/xml/gps.xml
res/xml/htdb_chunk*.xml
libs
gen
api
nbproject
cli/java/pre.dist
res/values/revision.xml
res/values/dbstats.xml
res/values/gmaps.xml
local.properties
gmaps.properties
*.pyc
.*
htc
tags
