<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.monnerville.transports.herault"
      android:versionCode="27"
      android:versionName="@string/app_version">
      <application android:label="@string/app_name" android:icon="@drawable/logo" android:theme="@style/OfficialTheme">
        <activity android:name=".ui.SplashActivity"
                  android:configChanges="keyboardHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchableActivity" />
        </activity>
        <activity android:name=".ui.HomeActivity"
                  android:configChanges="keyboardHidden"
                  android:label="@string/app_name">
            <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchableActivity" />
        </activity>
        <activity android:name=".ui.AllLinesActivity" android:label="@string/app_name">
            <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchableActivity" />
        </activity>
        <activity android:name=".ui.BusLineActivity" 
                  android:configChanges="keyboardHidden"
                  android:label="@string/busline_activity_title">
            <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchableActivity" />
        </activity>
        <activity android:name=".ui.BusStationActivity"
                  android:label="@string/busline_activity_title">
        </activity>
        <activity android:name=".ui.BusStationGlobalActivity" android:configChanges="keyboardHidden|orientation">
            <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchableActivity" />
        </activity>
        <activity android:name=".ui.SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchableActivity" />
        </activity>
        <activity android:name=".ui.AppPreferenceActivity" android:label="@string/app_name">
        </activity>
        <activity android:name=".ui.CityActivity">
            <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchableActivity" />
        </activity>
        <provider android:name="com.monnerville.transports.herault.provider.SuggestionProvider"
            android:authorities="com.monnerville.transports.herault.provider.suggestionprovider">
        </provider>
        <!-- Google maps support -->
        <uses-library android:name="com.google.android.maps" android:required="true"/>
    </application>
    <!-- Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" />

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11" />
</manifest> 
