<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.monnerville.tranports.herault"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="LinesActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="BusLineActivity"
                  android:label="@string/busline_activity_title">
        </activity>
        <activity android:name="BusStationActivity"
                  android:label="@string/busline_activity_title">
        </activity>
    </application>
</manifest> 
